<div class="container">
  <h3 class="login_head">{{aim}} <br>  Please  <span class="second_word">Login</span>
  </h3>
<form>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label label">Account Number</label>
    <input type="text" class="form-control" id="accno" aria-describedby="emailHelp" [value]='account' (change)='changeAcc($event)'>
    
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label label">Password</label>
    <input type="password" class="form-control" id="pwd" (change)='changePwd($event)' >
  </div>
  <button type="button" class="btn login_bttn" (click)="login()">Login</button>
</form>
</div>

